.about-section {
  position: relative;
}

.about-section h3,
.about-section h4,
.about-section h5 {
  margin: 3rem 0;
}

.about-section img {
  display: block;
  height: 550px;
  max-width: 800px;
  margin: auto;
}

.about-section p {
  margin: 6rem;
  line-height: 1.5;
}

.about-section .me {
  border-bottom: 2px solid blue;
}

.about-section-line {
  border-bottom: 5px solid;
  position: relative;
  width: 10%;
  left: 47%;
}
